* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.wrapper {
    min-width: 250px;
}

.form {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.form .search-btn {
    margin-left: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-label {
    margin-bottom: 5px;
    font-size: 14px;
}

.input-field {
    height: 40px;
    width: 100%;
    padding: 0 5px;
    outline: none;
    border: 1px solid #2196F3;
    border-radius: 5px;
    transition-duration: 200ms;
}

.input-field:focus {
    border-color: #1976D2;
}

.search-btn {
    height: 40px;
    padding: 0 10px;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 200ms;
}

.search-btn:hover {
    background-color: #1976D2;
}

.weather-result {
    margin-top: 10px;
}
